h2, p {
  margin: 0; }

.container .box-layout, .container .name1 .box, .container .name2 .box, .container .name3 .box, .container .name4 .box {
  height: 250px;
  width: 300px;
  border-radius: 30%;
  box-shadow: 10px 10px 25px black; }

.container .name1 {
  width: 80%;
  height: 300px;
  display: flex;
  margin: 20px auto 20px; }
  .container .name1 .box {
    background: url("../images/xavier-cat.jpg");
    background-size: contain;
    background-position: center; }
  .container .name1 .description1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 500px;
    height: 300px;
    padding: 20px 0  0 30px; }

.container .name2 {
  width: 80%;
  height: 300px;
  display: flex;
  margin: 20px auto 20px; }
  .container .name2 .box {
    background: url("../images/jason-cat.jpg");
    background-size: contain;
    background-position: center; }
  .container .name2 .description2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 500px;
    height: 300px;
    padding: 20px 0  0 30px; }

.container .name3 {
  width: 80%;
  height: 300px;
  display: flex;
  margin: 20px auto 20px; }
  .container .name3 .box {
    background: url("../images/maria-cat.jpg");
    background-size: contain;
    background-position: center; }
  .container .name3 .description3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 500px;
    height: 300px;
    padding: 20px 0  0 30px; }

.container .name4 {
  width: 80%;
  height: 300px;
  display: flex;
  margin: 20px auto 20px; }
  .container .name4 .box {
    background: url("../images/jasdeep-cat.jpg");
    background-size: contain;
    background-position: center; }
  .container .name4 .description4 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 500px;
    height: 300px;
    padding: 20px 0  0 30px; }

* {
  box-sizing: border-box; }

body {
  background: #ccd6c7; }

h1, h2 {
  font-family: "Lora", serif;
  font-size: 1.8em; }

h1 {
  font-size: 3em; }

p {
  font-family: "KoHo", sans-serif;
  font-size: 1.3em;
  line-height: 1.5; }

.date, a {
  font-family: "Dosis", sans-serif; }

.wrapper {
  margin: 0 auto;
  width: 80%;
  max-width: 1000px; }

.header {
  display: flex;
  height: 100px;
  width: 100%;
  background: #318c00; }

.logo-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 100px; }

.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #ccd6c7;
  margin: 20px;
  height: 65px;
  width: 65px;
  border-radius: 200px;
  cursor: pointer; }

.logo i {
  font-size: 2em;
  color: #a80076; }

.logo i:hover {
  transform: scale(1.1); }

.about {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%; }

.about button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background: none;
  border: none;
  text-transform: uppercase;
  margin-right: 70px;
  font-family: "KoHo", sans-serif; }

.about button:hover {
  cursor: pointer; }

.about a {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.4em;
  color: #a80076; }

.about a:hover {
  transform: scale(1.1); }

.footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 125px;
  width: 100%;
  background: #318c00; }

.social-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #ccd6c7;
  margin: 20px;
  height: 65px;
  width: 65px;
  border-radius: 200px;
  cursor: pointer; }

.social-1 :hover {
  transform: scale(1.1); }

.social-1 i {
  font-size: 2em;
  color: #a80076; }

.social-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #ccd6c7;
  margin: 20px;
  height: 65px;
  width: 65px;
  border-radius: 200px;
  cursor: pointer; }

.social-2 :hover {
  transform: scale(1.1); }

.social-2 i {
  font-size: 2em;
  color: #a80076; }

.social-3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #ccd6c7;
  margin: 20px;
  height: 65px;
  width: 65px;
  border-radius: 200px;
  cursor: pointer; }

.social-3 :hover {
  transform: scale(1.1); }

.social-3 i {
  font-size: 2em;
  color: #a80076; }

.social-4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #ccd6c7;
  margin: 20px;
  height: 65px;
  width: 65px;
  border-radius: 200px;
  cursor: pointer; }

.social-4 :hover {
  transform: scale(1.1); }

.social-4 i {
  font-size: 2em;
  color: #a80076; }

.blog-name {
  max-width: 800px;
  padding: 80px 0; }
  .blog-name h1 {
    margin: 35px 0 20px; }
  .blog-name i {
    margin-right: 4px; }
  .blog-name a {
    text-decoration: none; }

.blog-post {
  margin: 60px auto 90px;
  max-width: 700px; }
  .blog-post p {
    margin: 0 0 40px; }

section {
  height: 700px;
  background: url(../images/Kittens-hero.jpg);
  background-size: cover;
  background-position: 50% 80%; }
