section {
    background: $hero-img;
    background-size: cover;
    background-position: 50%, 50%;
}

.blog-name {
    max-width: 800px;
    padding: 80px 0;

    h1 {
        margin: 35px 0 20px;
    }

    i {
        margin-right: 4px;
    }

    a {
        text-decoration: none;
    }
}

.blog-post {
    margin: 60px auto 90px;
    max-width: 700px;
     

    p {
        margin: 0 0 40px;
    }
}

