.Blog-name {
    font-family: $title-font;
}
h2 {
    font-family: $caption-font;
}
p{
    font-family: $body-font;
}

.hero-iamge {
    height: 400px;
    background: linear-gradient(180deg, $primary-color),
    $secondary-color, url('../../img/Kittens\ hero.jpg');
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
}