h2,p{
    margin:0;
}

   .box-layout
    {
    height: 250px;
    width:300px;
    border-radius: 30%;
    box-shadow: 10px 10px 25px black;
    }

    .name1{
        width: 80%;
        height: 300px;
        display: flex;
        margin: 20px auto 20px;

             .box{
                @extend .box-layout;
                 background: url('../images/xavier-cat.jpg');
                              
                 background-size: contain;
                 background-position: center;
             }
            
            .description1{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            width: 500px;
            height: 300px;
            padding: 20px 0  0 30px;

            }

    }
       
    .name2{
        width: 80%;
        height: 300px;
        display: flex;
        margin: 20px auto 20px;


        .box{
            @extend .box-layout;
             background: url('../images/jason-cat.jpg');
             background-size: contain;
             background-position: center;
         }
        
        .description2{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            width: 500px;
            height: 300px;
            padding: 20px 0  0 30px;
        }
    
    }
    .name3{
        width: 80%;
        height: 300px;
        display: flex;
        margin: 20px auto 20px;
        
        .box{
            @extend .box-layout;
             background: url('../images/maria-cat.jpg');
             background-size: contain;
             background-position: center;
         }
        .description3{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            width: 500px;
            height: 300px;
            padding: 20px 0  0 30px;
        }
    }

    .name4{
        width: 80%;
        height: 300px;
        display: flex;
        margin: 20px auto 20px;
        
        .box{
            @extend .box-layout;
             background: url('../images/jasdeep-cat.jpg');
             background-size: contain;
             background-position: center;
         }
        .description4{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            width: 500px;
            height: 300px;
            padding: 20px 0  0 30px;

        }
    }

    

